@import '~@angular/material/theming';

@mixin anms-stake-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-tab-label {
    opacity: 1;
    font-weight: bold;

    &.mat-tab-label-active {
      color: mat-color($primary);
    }
  }
}
