<div class="container">
  <form [formGroup]="myForm"
  [ngClass]="routeAnimationsElements">

  <div class="row">
    <mat-form-field class="col-md-6">
      <input
        matInput
        placeholder="Enter stake amount (NU):"
        formControlName="amount"
        required>
      <mat-error *ngIf="myForm.get('amount').hasError('required')">
          Amount is required
      </mat-error>
      <mat-error *ngIf="myForm.get('amount').hasError('min')">
          Amount must be equal/more than 15000 NU
      </mat-error>

    </mat-form-field>
    <mat-form-field class="col-md-6">
      <input
        matInput
        placeholder="Stakind duration (days):"
        formControlName="duration"
        required>
      <mat-error *ngIf="myForm.get('duration').hasError('required')">
          Duration is required

      </mat-error>
      <mat-error *ngIf="myForm.get('duration').hasError('min')">
          Duration must be equal/more than 30 days

      </mat-error>

    </mat-form-field>
  </div>

  <div class="text-left">
    <small>Your balance: <span class="text-primary">{{balance}}</span> NU</small>
  </div>

  <div class="mt-3">
    <button
      (click)="openDialog()"
      mat-raised-button
      color="primary"
      [disabled]="!(myForm.valid && isMetamaskConnected)"
      class="btn btn-rounded pt-1 pb-1 pl-5 pr-5">
      Stake it!
    </button>
  </div>

  </form>
</div>
