<table class="mt-1 mb-5 text-center">
    <thead>
        <tr>
            <td>
                Stake #
            </td>
            <td>
                STAKER
            </td>
            <td>
                WORKER
            </td>
            <td>
                VALUE
            </td>
            <td>
                DURATION
            </td>
            <td>
                Ending
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
              #
            </td>
            <td>
                {{data?.staker?.substring(0,10)}}....{{data?.staker.substring(data?.staker?.length -5,data?.staker?.length)}}
            </td>
            <td>
                {{data?.worker?.substring(0,10)}}....{{data?.worker.substring(data?.worker?.length -5,data?.worker?.length)}}

            </td>
            <td>
                {{data?.value}}
            </td>
            <td>
                {{30}}
            </td>
            <td>
              22 Jan 2021
            </td>
        </tr>
    </tbody>
</table>
