<table class="table-hiden">
    <thead>
        <tr>
            <td>
                Staker
            </td>
            <td>
                Worker
            </td>
            <td>
                Value
            </td>
            <td>
                Duration
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{data?.staker?.substring(0,10)}}....{{data?.staker.substring(data?.staker?.length -5,data?.staker?.length)}} 
            </td>
            <td>
                {{data?.worker?.substring(0,10)}}....{{data?.worker.substring(data?.worker?.length -5,data?.worker?.length)}} 

            </td>
            <td>
                {{data?.value}}
            </td>
            <td>
                {{30}}
            </td>
        </tr>
    </tbody>
</table>