<div class="container p-0">

  <mat-tab-group mat-align-tabs="center" class="tab-group tab-group__small">
    <mat-tab label="Set worker">
      <form [formGroup]="myForm" class="example-form">
        <div>

          <mat-form-field class="example-full-width">
            <mat-label>Enter worker address</mat-label>
            <input matInput formControlName="worker" placeholder="x0">
            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
            <mat-error *ngIf="myForm.get('worker').hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div class="text-center">
            <small>Worker can be replaced or detached after 2 periods.</small>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <button
              (click)="setWorker()"
              mat-raised-button color="primary"
              [disabled]="!(myForm.valid)"
              class="btn btn-rounded pt-1 pb-1 pl-5 pr-5">
              Confirm
            </button>
          </div>

        </div>
      </form>

    </mat-tab>
    <mat-tab label="Detach worker">
      <form [formGroup]="myForm" class="example-form">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <!-- <button
            (click)="detachWorker()"
            mat-raised-button color="primary">
          </button> -->
          <mat-checkbox>Detach worker?</mat-checkbox>

          <div class="text-center mt-2">
            <small class="text-primary">or</small>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>Set new worker address</mat-label>
            <input matInput formControlName="worker" placeholder="x0">
            <mat-error *ngIf="myForm.get('worker').hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <button
            (click)="setWorker()"
            mat-raised-button color="primary"
            [disabled]="!(myForm.valid)"
            class="btn btn-rounded pt-1 pb-1 pl-5 pr-5 mt-4">
            Confirm
          </button>

        </div>
      </form>
    </mat-tab>
    <mat-tab label="Re-stake">

      <form [formGroup]="myForm" class="example-form">
        <div class="d-flex flex-column justify-content-center align-items-center">

          <div class="text-center mt-2">
            <small>Re-staking for 0x0000....0000: <span class="text-primary">No</span></small>
          </div>

          <mat-button-toggle-group
            name="restake-options"
            aria-label="Restake options"
            class="mt-2">
            <mat-button-toggle
              value="on">On</mat-button-toggle>
            <mat-button-toggle
              value="off">Off</mat-button-toggle>
            <mat-button-toggle
              value="lock">Lock for</mat-button-toggle>
          </mat-button-toggle-group>

          <!-- <button
            (click)="restake()"
            mat-raised-button
            color="primary"
            *ngIf="!isReStakeLocked">
            Enable
          </button>

          <button
            (click)="restake()"
            mat-raised-button
            color="primary"
            *ngIf="isReStakeLocked">
            disable
          </button> -->

          <button
            (click)="setWorker()"
            mat-raised-button
            color="primary"
            [disabled]="!(myForm.valid)"
            class="btn btn-rounded pt-1 pb-1 pl-5 pr-5 mt-4">
            Confirm
          </button>

        </div>
      </form>

    </mat-tab>
    <mat-tab label="Wind-down">

      <form [formGroup]="myForm" class="example-form">
        <div class="d-flex flex-column justify-content-center align-items-center">

          <div class="text-center mt-2">
            <small>Wind-down for 0x0000....0000: <span class="text-primary">No</span></small>
          </div>

          <mat-button-toggle-group
            name="winddown-options"
            aria-label="Wind-down options"
            class="mt-2">
            <mat-button-toggle
              value="on">On</mat-button-toggle>
            <mat-button-toggle
              value="off">Off</mat-button-toggle>
          </mat-button-toggle-group>

          <!-- <button
            (click)="winddown()"
            mat-raised-button color="primary" >
            Winddown
          </button> -->

          <button
            (click)="setWorker()"
            mat-raised-button
            color="primary"
            [disabled]="!(myForm.valid)"
            class="btn btn-rounded pt-1 pb-1 pl-5 pr-5 mt-4">
            Confirm
          </button>

        </div>
      </form>

    </mat-tab>
    <mat-tab label="Prolong">

      <form [formGroup]="prolongForm" class="example-form">
        <div class="d-flex flex-column justify-content-center align-items-center">

          <mat-form-field class="col-md-6">
            <mat-label>Index</mat-label>
            <input matInput formControlName="index" placeholder="0">
            <mat-hint>Errors appear instantly!</mat-hint>

            <mat-error *ngIf="prolongForm.get('index').hasError('required')">
              Index is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-8">
            <mat-label>Prolong duration (periods)</mat-label>
            <input matInput formControlName="periods" placeholder="0">
            <mat-hint>Errors appear instantly!</mat-hint>

            <mat-error *ngIf="prolongForm.get('periods').hasError('required')">
              Periods is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <button
            (click)="prolong()"
            mat-raised-button
            color="primary"
            [disabled]="!(prolongForm.valid)"
            class="btn btn-rounded pt-1 pb-1 pl-5 pr-5 mt-4">
            Confirm
          </button>

        </div>
      </form>

      <!-- <div class="container">
        <table class="table-hiden">
          <thead>
              <tr>
                  <td>
                    firstPeriod
                  </td>
                  <td>
                    lastPeriod
                  </td>
                  <td>
                    periods
                  </td>
                  <td>
                    lockedValue
                  </td>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let  item of data; let index">

                  <td>
                     {{item?.firstPeriod}}
                  </td>
                  <td>
                      {{item?.lastPeriod}}
                  </td>
                  <td>
                      {{item?.periods}}
                  </td>
                  <td>
                      {{item?.lockedValue}}
                  </td>


              </tr>
          </tbody>
      </table>
      </div> -->

   </mat-tab>
    <mat-tab label="Divide">

      <form [formGroup]="dividForm" class="example-form">
        <div class="d-flex flex-column justify-content-center align-items-center">

          <mat-form-field class="col-md-6">
            <mat-label>Substake index</mat-label>
            <input matInput formControlName="index" placeholder="0">
            <mat-hint>Errors appear instantly!</mat-hint>

            <mat-error *ngIf="dividForm.get('index').hasError('required')">
              Index is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <mat-label>Period</mat-label>
            <input matInput formControlName="periods" placeholder="0">
            <mat-hint>Errors appear instantly!</mat-hint>

            <mat-error *ngIf="dividForm.get('periods').hasError('required')">
              Periods is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" placeholder="0">
            <mat-hint>Errors appear instantly!</mat-hint>

            <mat-error *ngIf="dividForm.get('periods').hasError('required')">
              Amount is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <button
            (click)="divide()"
            mat-raised-button
            color="primary"
            [disabled]="!(dividForm.valid)"
            class="btn btn-rounded pt-1 pb-1 pl-5 pr-5 mt-4">
            Confirm
          </button>

        </div>
      </form>

      <!-- <div class="container">
        <table class="table-hiden">
          <thead>
              <tr>
                  <td>
                    firstPeriod
                  </td>
                  <td>
                    lastPeriod
                  </td>
                  <td>
                    periods
                  </td>
                  <td>
                    lockedValue
                  </td>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let  item of data; let index">

                  <td>
                     {{item?.firstPeriod}}
                  </td>
                  <td>
                      {{item?.lastPeriod}}
                  </td>
                  <td>
                      {{item?.periods}}
                  </td>
                  <td>
                      {{item?.lockedValue}}
                  </td>


              </tr>
          </tbody>
      </table>
      </div> -->
    </mat-tab>

  </mat-tab-group>
  <!-- retake, winddown, set worker,  detach worker, prolong  -->

</div>
