@import './_colors';

$anms-primary: mat-palette($md-blue);
$anms-accent: mat-palette($mat-light-blue);
$anms-warn: mat-palette($mat-pink, 600);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);
