<div mat-dialog-title>
  <mat-icon aria-hidden="false">close</mat-icon>
</div>
<mat-dialog-content class="mat-typography">
  <p>Connect a wallet to get started</p>
  <ul class="list-wallet">
        <li id ="metamask" (click)="onWalletSelect(1)">
          <a href="#">
            <span class="img">
              <img [src]="metamask" alt=""/>
            </span>
            Metamask
          </a>
        </li>
        <li (click)="onWalletSelect(2)">
          <a href="#">
            <span class="img"></span>
            <!-- <span class="img">
              <img [src]="ledger"alt=""/>
            </span>
            Ledger -->
          </a>
        </li>
        <li (click)="onWalletSelect(3)">
          <a href="#">
            <span class="img"></span>
            <!-- <span class="img">
              <img [src]="keystore"alt=""/>
               </span>
            Keystore -->
          </a>

        </li>
      </ul>

</mat-dialog-content>


