@import '~@angular/material/theming';

@mixin anms-wallet-popup-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  mat-dialog-container {
    padding: 9px 16px 24px;
    width: 460px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8) !important;

    .mat-dialog-title {
      margin-bottom: 9px;
      line-height: 1;
      text-align: right;

      mat-icon {
        font-size: 1.25em;
        width: 1em;
        height: 1em;
      }
    }
  }

  mat-dialog-content {
    font-size: 16px;
    margin: 0 -16px;
    padding: 2em 1em 6em;
    text-align: center;
    background-color: mat-color($background, dialog-content);

    .list-wallet {
      li a {
        background-color: mat-color($background, list-wallet);
      }
    }
  }
}
