@import '~@angular/material/theming';

$anms-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1:        mat-typography-level(18px, 25px, 400),
  $button:        mat-typography-level(18px, 25px, 400),
);

html {
  font-size: 18px;
}

small {
  font-size: 0.7222em;
}
