<!-- <p>nucypher stake create
    /**
    (nucypherStaker) london@london:~$ nucypher stake create</p>
    <img [src]="agreement1"/>
    <img [src]="agreement2"/> -->
    <h2 mat-dialog-title>Stake nucypher</h2>
    <mat-dialog-content class="mat-typography">
        <p>nucypher stake create
            /**
            (nucypherStaker) london@london:~$ nucypher stake create</p>
            <img [src]="agreement1"/>
            <img [src]="agreement2"/> 
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
    </mat-dialog-actions>
    