code.console {
  font-size: 10px;
  color: #0C9100;
  background-color: transparent;
  white-space: initial;
  line-height: 12px;
  font-weight: bold;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
