<div class="">
  <div class="gradient">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-9"> </div>
        <div class="col-md-3 text-right" *ngIf="!isMetamaskConnected">
          <button mat-raised-button (click)="openDialog()"
            class="btn btn-rounded btn-small"
            color="primary">Connect to a wallet</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9"> </div>
        <div class="col-md-3 img-dev" *ngIf="isMetamaskConnected">
          <button mat-raised-button
            class="btn btn-rounded btn-small account-btn">
            <!-- <span>
              <img [src]="accImag" alt=""/>
            </span> -->
            {{account.substring(0,10)}}....{{account.substring(account.length -5,account.length)}}
          </button>
        </div>
      </div>
      <ng-container>
        <div class="inner-container">
          <mat-tab-group id="main-tab-group" mat-align-tabs="center" class="tab-group">

            <mat-tab label="STAKE">
              <anms-stake (onSave)="saveStake($event)" [isMetamaskConnected]="isMetamaskConnected" class=" tab">
              </anms-stake>
            </mat-tab>
            <mat-tab label="MANAGE">
              <anms-manage (onSetWorker)="setWorker($event)" (onDetachWorker)="detachWorker()" (onReStake)="setReStake()"
                (onWinddown)="winddown()" [isReStakeLocked]="isReStakeLocked" (onDivide)="divideStake($event)" (onProlong)="prolongStake($event)" [data]="subStakeList"></anms-manage>
            </mat-tab>
            <mat-tab label="WITHDRAW">
              <anms-withdraw (onWithdraw)="withdraw($event)" [TokenToWithdraw]="TokenToWithdraw"  [data]="subStakeList"></anms-withdraw>
            </mat-tab>
          </mat-tab-group>
          <!-- <div class="show-stakes">
            <a href="#" (click)="fechSmartcontract()">
              Check existing stakes
            </a>
          </div>
          <div class="show-stakes">
            <p >
              Balance {{balance}} NU
            </p>
          </div> -->
          <div class="text-center">
            <small>Active stakes:</small>
          </div>
          <anms-stake-list class="container" [data]="stakeList"></anms-stake-list>

        </div>

      </ng-container>

      <div class="row justify-content-center position-relative mb-4">
        <small class="col-md-2 text-center">Staking Guide</small>
        <small class="col-md-2 text-center">About Nucypher</small>

        <div class="col-md-2 theme-toggle-wrapper">
            <mat-slide-toggle
              id="theme-toggle"
              [(ngModel)]="checked"
              (change)="changeTheme()"
              class="theme-toggle">

              <svg id="sun" class="toggle-icon" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 0L5.66667 2.83333H2.125V6.375L0 8.5L2.125 10.625V14.875H6.375L8.5 17L10.625 14.875H14.875V10.625L17 8.5L14.875 6.375V2.83333H11.3333L8.5 0Z" fill="#6B6B6B"/>
                <path d="M14.28 8.84006C14.28 12.0322 11.692 14.6201 8.49997 14.6201C5.30775 14.6201 2.71997 12.0322 2.71997 8.84006C2.71997 5.64787 5.30775 3.06006 8.49997 3.06006C11.692 3.06006 14.28 5.64787 14.28 8.84006Z" fill="#4A4A4A"/>
              </svg>

              <svg id="moon" class="toggle-icon" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2978 9.17472C13.5341 12.2338 10.7678 14.5 7.4722 14.5C3.58704 14.5 0.4375 11.3505 0.4375 7.4653C0.4375 4.1697 2.70371 1.4034 5.76278 0.639734C6.21222 0.527538 6.67876 0.45857 7.15775 0.4375C6.94721 1.03563 6.83268 1.67902 6.83268 2.34915C6.83268 5.52792 9.40958 8.10482 12.5883 8.10482C13.2585 8.10482 13.9019 7.99029 14.5 7.77974C14.4789 8.25873 14.41 8.72528 14.2978 9.17472ZM1.71654 7.4653C1.71654 4.95667 3.32146 2.82289 5.56055 2.03471C5.55596 2.13895 5.55365 2.24378 5.55365 2.34915C5.55365 6.23431 8.70319 9.38385 12.5883 9.38385C12.6937 9.38385 12.7986 9.38154 12.9028 9.37695C12.1146 11.616 9.98083 13.221 7.4722 13.221C4.29344 13.221 1.71654 10.6441 1.71654 7.4653Z" fill="#F5E86A"/>
              </svg>

            </mat-slide-toggle>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container">

</div>
