@import '~@angular/material/theming';

@mixin anms-home-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .account-btn {
    background-color: mat-color($background, disabled-button-toggle);
  }

  #main-tab-group {
    .mat-tab-label {
      width: 33.3333%;
    }
  }

  #theme-toggle {
    .mat-slide-toggle-bar {
      background-color: mat-color($background, dialog-content);
      width: 66px;
      height: 25px;
      border-radius: 16px;

      .mat-slide-toggle-thumb-container {
        top: 0;
        width: 35px;
        height: 25px;

        .mat-slide-toggle-thumb {
          width: 35px;
          height: 25px;
          border-radius: 28px;
          box-shadow: none;
        }
      }
    }

    &.mat-checked {
      .mat-slide-toggle-thumb-container {
        transform: translate3d(30px,0,0);

        .mat-slide-toggle-thumb {
          background-color: mat-color($background, toggle);
        }
      }
    }
  }
}
